::-webkit-input-placeholder {
    text-align:center;
    }
    
    :-moz-placeholder { /* Firefox 18- */
       text-align:center;  
    }
    
    ::-moz-placeholder {  /* Firefox 19+ */
       text-align:center;  
    }
    
    :-ms-input-placeholder {  
       text-align:center; 
    }
    
            body {
            font-family: roboto;
            transition: background-color 0.5s, color 0.5s;
            }
            .theme {
            width: 	75vw;
            box-shadow: 1vh 1vh 2vh rgba(0,0,0,0.3);
            font-size: 8vw;
            margin: 1vh auto 1vh auto;
            align-items: center;
            border-radius: 7vw;
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            height: 6vh;
            transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
            }
            
            .avt {
            box-shadow: 1vh 1vh 2vh rgba(0,0,0,0.3);
            width: 35vw;
            height: 6vh;
            border-radius: 8vw;
            font-size: 7vw;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
            }
            
            .tra {
            box-shadow: 1vh 1vh 2vh rgba(0,0,0,0.3);
            width: 35vw;
            height: 6vh;
            border-radius: 8vw;
            font-size: 7vw;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
            }
            
            .main_grid {
            width: 	80vw;
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 auto 0 auto
            }
            
            .box {
            background-color: white;
            box-shadow: 1vh 1vh 2vh rgba(0,0,0,0.3);
            width: 20vw;
            height: 20vw;
            border-radius: 8vw;
            margin: 1vh 1vw 0 0;
            font-size: 12vw;
            color: rgba(0,0,0,0.8);
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;
            transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
            }
            
            a:active, /* активная/посещенная ссылка */
            a:hover,  /* при наведении */
            a {
              text-decoration: none;
              color: black;
              transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
            }
    .container {
    position: fixed;
    top: 40%;
    right: 25%;
      transition: opacity 0.5s;
      
    }
    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .inp_id {
    width: 50vw;
    height: 8vh;
    border-radius: 4vw;
        font-size: 6vw;
        font-weight: 600;
        border: 0px;
        text-align: center;
    }
    
    .btn_id {
    margin-top: 1vh;
    width: 30vw;
    height: 8vh;
    border-radius: 4vw;
        font-size: 4vw;
        font-weight: 600;
        border: 0px;
        transition: background-color 0.3s;
    } 
    
    button:hover {
      background-color: green;
    }
    
    .fon {
    background-color: black;
    opacity: 30%;
    position: fixed;
    top:0%;
    left:0%;
    width: 100vw;
    height: 100vh;	
    transition: opacity 0.3s
    
    }
    
    .container.block {
      opacity: 100%;
      pointer-events: all;
    }
    
    .fon.block {
      opacity: 30%;
      pointer-events: all;
    }

    .container.hidden,
    .fon.hidden {
      opacity: 0;
      pointer-events: none;
    }
    
    .disable-elements {
      pointer-events: none;
    }
    
      .dark {
        background-color: black;
        color: white;
        
      }
    
      .dark .avt, .dark .tra, .dark .theme {
        background-color: black;
        color: white;
        box-shadow: 1vh 1vh 2vh white;
      }
    
      .dark .box {
        background-color: black;
        color: white;
        box-shadow: 1vh 1vh 2vh white;
      }
       .dark a {
           color: white;
           
       }

       .ups {
        font-size: 6vw;
        font-weight: 600;
        position: relative;
        top: 35vh;
        margin: 0 auto 0 auto;
        width: 80vw;
        text-align: center;
        display: none;
       }
