@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --grey-color: rgb(224, 227, 228);
    --darker-grey-color: rgb(206, 208, 208);
    --text-grey-color: rgb(50,72,88);
    --text-light-color: rgb(112,127,137);

  }

body {
    margin: 0px;
    background-color: #f4f4f4;
    font-family: roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overscroll-behavior: none; 
}

header {
    background-color: rgb(234, 51, 36);
    width: 100%;
    height: 8vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    color: white;
    position: fixed;
    
}

nav {
    margin-top: 8vh;
    width: 90vw;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5vh 0;
    width: 100%;
}

.section_line {
    border-bottom: 0.5px solid var(--text-grey-color);
    width: 100%;
    margin: 0;
}

.section_no_flex {
    display: block;
    width: 90%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
span.size-20 {
    font-size: 6vw;
    margin: 0 6vw 0 4vw;
}

h1 {
    font-size: 6.5vw;
    font-weight: 300;
    margin: 0;
}

h2 {
    line-height: 3.5vh;
    font-size: 4.5vw;
    font-weight: 400;
}

h3 {
    line-height: 5vh;
    font-size: 4vw;
    font-weight: 400;
    margin: 0;
}

h4 {
    font-size: 3.3vw;
    font-weight: 400;
    margin: 0;
    line-height: 1.5em;
}

h5 {
    margin: 0 0 1vh 0;
    color: var(--text-light-color);
    font-weight: 400;
    font-size: 2.2vw;
}

p {
    line-height: 3.2vh;
    font-size: 3.7vw;
    font-weight: 300;
    margin: 0 0 1vh 0;
}

ul {
    list-style: none;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    font-size: 2.9vw;
    margin: 0;
}

li {
    border: solid var(--grey-color);
    border-radius: 5vw;
    border-width: 1.2em 1.6em;
    background-color: var(--grey-color);
    color: var(--text-grey-color);
    text-transform: uppercase;
}

li:hover {
    transition-duration: 0,5s;
    background-color: var(--darker-grey-color);
    border-color: var(--darker-grey-color);
    cursor: pointer;
  }

main{
    margin: 2vh;
    border-radius: 2vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue_box {
    width: 90vw;
    height: 13vh;
    border-radius: 2vw 2vw 0 0;
    background-image: linear-gradient(rgb(8, 66, 85, 0.8), rgba(8, 66, 85, 0.8)), url(/resources/3F1.png);
    background-position: center center;
    color: white;
    margin: 0;
}

span.favorite {
    font-size: 6vw;
    margin: 0 6vw 0 4vw;
}

span.straight {
    font-size: 10vh;
    transform: scale(0.6, -1);
    width: 8vw;
    display: flex;
    justify-content: center;
    color: var(--text-light-color);
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' -25,
    'opsz' 48
}

span.bold {
    font-weight: 450;
}

.blue_arrow_box {
    display: flex;
    width: 35vw;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
}

.arrow_down {
    height: 8vh;
}

.qr_block {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.qr_block img{
    height: 13vh;
    object-fit: cover;
    width: 90%;
    background-color: red;
}

#img_qr {
    height: 13vh;
    object-fit: cover;
    width: 90%;
    background-image: url(/resources/qr.png); /* Замените на ваше изображение или цвет */ 
    background-size: cover;
    position: relative; /* Важно для абсолютного позиционирования дочерних элементов */
    overflow: hidden; /* Скрыть круг, если он выходит за пределы родительского элемента */
    touch-action: none;
}

#hover-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('/resources/3C.png'); /* Замените на ваш путь к изображению */
    background-size: cover;
    position: absolute;
    pointer-events: none;
    display: none; /* Скрываем круг по умолчанию */
    touch-action: none;
}

button {
    width: 100%;
    height: 7vh;
    border: none;
    border-radius: 10vw;
    color: var(--text-grey-color);
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 550;
    margin: 2vh 0 2vh 0
}

button:hover {
    transition-duration: 0,5s;
    background-color: var(--darker-grey-color);
    border-color: var(--darker-grey-color);
    cursor: pointer;
  }

aside {
    margin: 1vh 0 4vh 0;
    border-radius: 2vw;
    background-color: white;
    width: 90%;
}

aside p, footer p  {
    font-size: 3.3vw;
    font-weight: 400;
    margin: 1.5vh 5vw;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer div{
    margin: 3vh 0 1vh 0;
    border-radius: 2vw;
    background-color: white;
    width: 90%;
}

.screen {
    width: 100vh;
    height: 100vw;
    background-color: white;
    transform: rotate(90deg);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 15%;
}


    .screen_header {
        height: 9vw;
        width: 100vh;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 0.1vw 1vw rgba(0, 0, 0, 0.2);
        align-items: center;
    }

    .screen_text_block {
        width: 100vh;
        height: 12vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .screen p {
        margin: 0 4vh 0 4vh;;
        font-size: 2.7vw;
        color: var(--text-light-color);
    }

    .screen_text_block p {
        font-weight: 400;
    }

    .screen_text_black {
        color: black;
    }

    .screen_header_text {
        color: black;
    }

    p.red_text {
        color: red;
        margin: 0 2vh 0 0;
        text-transform: uppercase;
        font-weight: 400;
    }